@model List<WebShopOnline.Models.CartItem>
<a class="ps-cart__toggle" href="/gio-hang"><span><i>@Model.Count</i></span><i class="ps-icon-shopping-cart"></i></a>
@if (Model.Count > 0)
{
    <div class="ps-cart__listing">
        <div class="ps-cart__content">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet/" + item.Product.MetaTitle + "-" + item.Product.ID;
                <div class="ps-cart-item">
                    <a class="ps-cart-item__close" data-id="@item.Product.ID"></a>
                    <div class="ps-cart-item__thumbnail"><a href="@url"></a><img src="@item.Product.Image" alt=""></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="@url">@item.Product.Name</a>
                        <p><span>Số lượng:<i>@item.Quantity</i></span><span>Thành tiền:<i>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</i></span></p>
                    </div>
                </div>
            }
        </div>
        <div class="ps-cart__total">
            <p>Tổng:<span> @Model.Sum(i => (i.Quantity))</span></p>
            <p>
                Tổng tiền:<span>
                    @Model.Sum(i => ((i.Product.Price.GetValueOrDefault(0) * i.Quantity)))
                </span>
            </p>
        </div>
        <div class="ps-cart__footer"><a class="ps-btn" href="/gio-hang">Đến giỏ hàng<i class="ps-icon-arrow-left"></i></a></div>
    </div>
}
else
{

}