@model Model.EF.Review

@{
    var product = (Model.EF.Product)ViewBag.Product;
    ViewBag.Title = product.Name;
    ViewBag.Keywords = product.MetaKeywords;
    ViewBag.Descriptions = product.MetaDescriptions;
    Layout = "~/Views/Shared/_Layouts.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var session = (UserLogin)Session[WebShopOnline.Common.CommonConstants.USER_SESSION];
    //var comment = Model.MetaTitle + "-" + Model.ID;
    var loadImage = ViewBag.loadImage;
    var listReview = (List<Model.EF.Review>)ViewBag.Review;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;

    var i = 1;
    var a = 1;
    float tb = 0;

    float tb1 = 0;
    var a1 = 1;
    var i1 = 1;
}

@section jsFooter{
    <link href="/Assets/Client/js/review/jquery.rateyo.min.css" rel="stylesheet" />
    <script src="/Assets/Client/js/review/review.js"></script>
    <script src="/Assets/Client/js/review/jquery.rateyo.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @foreach (var item in listReview)
    {
        <script>
            $(function () {
                $('.sao@(a)').rateYo({
                    rating: @item.Rating,
                    numStars: 5,
                    maxValue: 5,
                    halfStar: true,
                    starWidth: "20px",
                    readOnly: true

                });
            });
        </script>
        a++;
    }
    <script>
            $(function () {
                $('#trungbinh').rateYo({
                    rating: @tb,
                    numStars: 5,
                    maxValue: 5,
                    halfStar: true,
                    starWidth: "20px",
                    readOnly: true

                });
            });
    </script>

    @foreach (var item in relatedProducts)
    {
        var review1 = new Model.DAO.ReviewDao().ListAll(item.ID);
        foreach (var tong1 in review1)
        {
            tb1 = (float)tb1 + (float)tong1.Rating;
        }
        if (review1.Count == 0)
        {
            tb1 = 0;
        }
        else
        {
            tb1 = (float)Math.Round((tb1 / review1.Count) * 2, MidpointRounding.AwayFromZero) / 2;
        }
        <script>
            $(function () {
                $('.trungbinha@(a1)').rateYo({
                    rating: @tb1,
                    numStars: 5,
                    maxValue: 5,
                    halfStar: true,
                    starWidth: "20px",
                    readOnly: true

                });
            });
        </script>
        a1++;
        tb1 = 0;
    }
}
<div class="test">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            </div>
        </div>
    </div>
</div>
<div class="ps-product--detail pt-60">
    <div class="ps-container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-lg-offset-1">
                <div class="ps-product__thumbnail">
                    <div class="ps-product__preview">
                        <div class="ps-product__variants">
                            @foreach (var item in loadImage)
                            {
                                <div class="item">
                                    <img src="@item" alt="@product.Name">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="ps-product__image">
                        @foreach (var item in loadImage)
                        {
                            <div class="item"><img class="zoom" src="@item" alt="@product.Name" data-zoom-image="@item"></div>
                        }
                    </div>
                </div>
                @*<center>
                        <div class="ps-product__thumbnail--mobile">

                            <div class="ps-product__image">
                                @foreach (var item in loadImage)
                                {

                                    <div class="item"><img class="zoom" src="@item" alt="" data-zoom-image="@item"></div>

                                }
                            </div>

                            <div class="ps-product__preview">
                                <div class="ps-product__variants">
                                    @foreach (var item in loadImage)
                                    {

                                        <div class="item"><img src="@item" alt=""></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </center>*@
                <div class="ps-product__thumbnail--mobile">

                    <div class="ps-product__main-img ps-product__image ">
                        @foreach (var item in loadImage)
                        {
                            <div class="item"><img class="zoom" src="@item" alt="@product.Name" data-zoom-image="@item"></div>
                        }
                    </div>

                    <div class="ps-product__preview">
                        <div class="ps-product__variants">
                            @foreach (var item in loadImage)
                            {

                                <div class="item"><img src="@item" alt="@product.Name"></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="ps-product__info">
                    <div class="ps-product__rating">

                        @foreach (var tong in listReview)
                        {
                            tb = (float)tb + (float)tong.Rating;
                        }
                        @{
                            if (listReview.Count == 0)
                            {
                                tb = 0;
                            }
                            else
                            {
                                tb = (float)Math.Round((tb / listReview.Count) * 2, MidpointRounding.AwayFromZero) / 2;

                            }
                        }

                        <div id="trungbinh"></div>
                        <a href="#">Có @listReview.Count() đánh giá</a>
                    </div>
                    <h1>@product.Name</h1>
                    <p class="ps-product__category"><a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
                    @if (product.PromotionPrice == null)
                    {
                        <h3 class="ps-product__price">  @(product.Price.HasValue ? product.Price.Value.ToString("N0") : "Liên hệ")đ </h3>
                    }
                    else
                    {
                        <h3 class="ps-product__price">
                            <del>@(product.Price.HasValue ? product.Price.Value.ToString("N0") : "Liên hệ")đ</del>
                            @product.PromotionPrice đ
                        </h3>
                    }

                    <div class="ps-product__block ps-product__quickview">
                        <h4>Mô tả</h4>
                        <p>@product.Description</p>
                    </div>

                    @*<div class="ps-product__block ps-product__size">
                            <h4>Size<a href="/tin-tuc/huong-dan-dat-hang-3">Tham khảo size</a></h4>
                            <select class="ps-select selectpicker">
                                <option value="1">Size</option>
                                <option value="2">S</option>
                                <option value="3">M</option>
                                <option value="3">L</option>
                                <option value="3">XL</option>
                            </select>

                            <div class="form-group">
                                <input class="form-control " type="number" value="0">
                            </div>
                        </div>*@

                    <div class="ps-product__shopping">
                        <a class="ps-btn mb-10" href="/them-gio-hang?productId=@product.ID&quantity=1">Thêm vào giỏ<i class="ps-icon-next"></i></a>
                        @*<div class="ps-product__actions">
                                <a class="mr-10" href="whishlist.html">
                                    <i class="ps-icon-heart"></i>
                                </a><a href="compare.html">
                                    <i class="ps-icon-share"></i>
                                </a>
                            </div>*@
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="ps-product__content mt-50">
                    <ul class="tab-list" role="tablist">
                        <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Chi tiết</a></li>
                        <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Bình luận</a></li>
                    </ul>
                </div>
                <div class="tab-content mb-60">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <p>  @Html.Raw(product.Detail)</p>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab_02">
                        @foreach (var item in listReview)
                        {

                            @*<p class="mb-20">1 review for <strong>@item.CreatedBy</strong></p>*@
                            <div id="row_@item.ID" class="ps-review">
                                <div class="ps-review__thumbnail"><img src="/Assets/Client/images/user/user.png" alt="@item.CreatedBy"></div>
                                <div class="ps-review__content">
                                    <header>
                                        <div class="sao@(i)"></div>
                                        <p>By: <a href="">@item.CreatedBy</a> - @item.CreateDate</p>
                                    </header>
                                    <p>@item.Content</p>
                                    <div class=" rightdiv" style="font-size:12px;font-weight:300">

                                        <div>

                                            @if (session != null && item.UserID == session.UserID)
                                            {
                                                @Ajax.ActionLink("Xóa bình luận", "Delete", new { @id = item.ID }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xoá bình luận này?",
                                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                                               HttpMethod = "Delete"
                                           })}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                        @if (session == null)
                        {
                            <div class="ps-review">

                                <div class="ps-review__content">
                                    <header>

                                        <p> Vui Lòng đăng nhập để có thể đánh giá: <a href="/dang-nhap">Đăng nhập</a>
                                    </header>
                                </div>
                            </div>

                        }
                        else
                        {
                            using (Html.BeginForm("SendReview", "Product", FormMethod.Post))
                            {

                                <form class="ps-product__review" action="_action" method="post">

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="form-group">
                                                <label>Đánh giá<span></span></label>
                                                <div id="rateYo"></div>
                                                <input id="rating" type="hidden" name="rating" />
                                            </div>
                                        </div>

                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                                            <div class="form-group">
                                                <label>Bình luận:</label>
                                                @Html.TextAreaFor(x => x.Content, new { cols = 20, rows = 6, @id = "reviewbinhluan", @class = "form-control" })
                                                @Html.HiddenFor(x => x.ProductID)
                                            </div>
                                            <div class="form-group">
                                                <button id="btnComment" type="submit" class="ps-btn ps-btn--sm">
                                                    Gửi<i class="ps-icon-next"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-section--top-sales ps-owl-root pt-40 pb-80">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <h3 class="ps-section__title" data-mask="Related item">- Có thể bạn thích</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Trước</a><a class="ps-next" href="#">Sau<i class="ps-icon-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
        <d iv class="ps-section__content">
            <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
                @foreach (var item in relatedProducts)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;

                    <div class="ps-shoes--carousel">
                        <div class="ps-shoe">
                            <div class="ps-shoe__thumbnail">
                                <div class="ps-badge"><span>Hot</span></div><a class="ps-shoe__favorite" href="/them-gio-hang?productId=@item.ID&quantity=1">
                                    <i class="ps-icon-shopping-cart"></i>
                                </a>
                                <img src="@item.Image" alt="@item.Name">
                                <a class="ps-shoe__overlay" href="@url"></a>
                            </div>
                            <div class="ps-shoe__content">
                                <div class="ps-shoe__variants">

                                    <span class="trungbinha@(i1)"></span>
                                </div>
                                <div class="ps-shoe__detail">
                                    <a class="ps-shoe__name" href="@url">@item.Name</a>
                                    <p class="ps-shoe__categories">
                                        <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a>
                                    </p>
                                    @if (item.PromotionPrice != null)
                                    {
                                        <span class="ps-shoe__price">
                                            <del>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")đ</del>
                                            @item.PromotionPrice đ
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="ps-shoe__price">
                                            @(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")đ
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    i1++;
                }
            </div>
    </div>
</div>